.c_Busca{
	margin-top: 20px;
	width: 30%;

}
.c_buscar{
	width: 350px;
	height:30px;
	text-align: center;
	font-size: 30px;
	border-radius: 15px;
}
.c_buscar:hover{
	background-color: #dddddd;
	border-color: blue;
}

.display_produto{
width: 30%;
height: 400px;
text-align: center;
border: 2px solid black;
margin-top: 10px;
}
.display_info{
	margin-top: 10px;
	
	width: 30%;
}
#table_info{
	width: 100%;
	text-align: center;
	border: 2px solid black;
}
.action_button{
	width: 30%;
	height: 100%;
}
#action_table{
	width: 100%;
	text-align: center;
}
.btn_acao{
	background-color:white;
	width: 49%;
	border: 1px solid black;
	margin-top: 1px;
}

button[name="busca"] {
	background-color: yellow;
	font-size: 30px;
	color: black;
	font-size: bold;
}
button[name="busca"]:hover{
	background-color: lightyellow;
	cursor: pointer;
}

button[name="add"] {
	background-color: green;
	font-size: 50px;
	color: white;
	font-size: bold;
}
button[name="add"]:hover{
	background-color: lightgreen;
	cursor: pointer;
}

button[name="rmv"] {
	background-color: red;
	font-size: 50px;
	font-size: bold;
}
button[name="rmv"]:hover{
	background-color: pink;
	cursor: pointer;
}

button[name="fnl"] {
	background-color: blue;
	font-size: 50px;
	font-size: bold;
}
button[name="fnl"]:hover{
	background-color: lightblue;
	cursor: pointer;
}
.display_compras{
	overflow-y: auto;
	position: absolute;
	text-align: center;
	top: 0;
	left: 40%;
	border-left: 1px solid black;
	width: 55%;
	height: 100%;
}
input[class="info"] {
		text-align: center;
		font-weight: bold;
    border: none;
    outline:none;
}

input[class="info_compra"] {
		text-align: center;
		font-weight: bold;
		font-size: 15px;
    border: none;
    outline:none;
}

#table_compras{
	width: 100%;
	text-align: center;
}
